In [ ]:
import time
import pandas as pd
import numpy as np

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    # get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs


    # get user input for month (all, january, february, ... , june)


    # get user input for day of week (all, monday, tuesday, ... sunday)


    print('-'*40)
    return city, month, day


def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """


    return df


def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # display the most common month


    # display the most common day of week


    # display the most common start hour


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # display most commonly used start station


    # display most commonly used end station


    # display most frequent combination of start station and end station trip


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()

    # display total travel time


    # display mean travel time


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # Display counts of user types


    # Display counts of gender


    # Display earliest, most recent, and most common year of birth


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)


def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break


if __name__ == "__main__":
	main()

In [1]:
import time
import pandas as pd
import numpy as np

In [2]:

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [3]:
filename = 'chicago.csv'

# load data file into a dataframe
df = pd.read_csv(filename)

In [4]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [5]:
# convert the Start Time column to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])

# convert the End Time column to datetime
df['End Time'] = pd.to_datetime(df['End Time'])

In [11]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,hour
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,15
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,18
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,8
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,13
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,14

In [7]:
df['ehour'] = df['End Time'].dt.hour

In [8]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,hour,ehour
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,15,15
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,18,18
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,8,8
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,13,13
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,14,15

In [63]:
# extract month and day of week from Start Time to create new columns

df['day_of_week'] = df['Start Time'].dt.day_name()
    
df['month'] = df['Start Time'].dt.month

In [64]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,hour,ehour,day_of_week,month
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,15,15,Friday,6
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,18,18,Thursday,5
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,8,8,Wednesday,1
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,13,13,Monday,3
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,14,15,Tuesday,1

In [69]:
# printing the number of unique items in a column

df.nunique()

Unnamed: 0       300000
Start Time       292758
End Time         291109
Trip Duration      7157
Start Station       568
End Station         572
User Type             3
Gender                2
Birth Year           79
hour                 24
ehour                24
day_of_week           7
month                 6
dtype: int64

In [70]:
# printing the unique values of all the columns in a dataframe

print(df.apply(lambda col: col.unique()))

Unnamed: 0       [1423854, 955915, 9031, 304487, 45207, 1473887...
Start Time       [2017-06-23T15:09:32.000000000, 2017-05-25T18:...
End Time         [2017-06-23T15:14:53.000000000, 2017-05-25T18:...
Trip Duration    [321, 1610, 416, 350, 534, 586, 281, 723, 689,...
Start Station    [Wood St & Hubbard St, Theater on the Lake, Ma...
End Station      [Damen Ave & Chicago Ave, Sheffield Ave & Wave...
User Type                        [Subscriber, Customer, Dependent]
Gender                                         [Male, Female, nan]
Birth Year       [1992.0, 1981.0, 1986.0, 1975.0, 1990.0, 1983....
hour             [15, 18, 8, 13, 14, 9, 16, 7, 19, 22, 21, 11, ...
ehour            [15, 18, 8, 13, 9, 14, 16, 7, 19, 23, 21, 11, ...
day_of_week      [Friday, Thursday, Wednesday, Monday, Tuesday,...
month                                           [6, 5, 1, 3, 4, 2]
dtype: object

In [31]:
# find the most popular hour
popular_hour = df['hour'].mode()[0]

print('Most Popular Start Hour is', popular_hour)

Most Popular Start Hour is 17

In [32]:
# print value counts for each user type
user_types = df['User Type'].value_counts()

print(user_types)

Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64

In [33]:
CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

In [34]:
CITY_DATA['chicago']

'chicago.csv'

In [81]:
month = 'maRch'
months = ['january', 'february', 'march', 'april', 'may', 'june']
month = months.index(month.lower()) + 1
print(month)

3

In [95]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """

    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city.lower()])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])
    
    # convert the End Time column to datetime
    df['End Time'] = pd.to_datetime(df['End Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.day_name()

    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month.lower()) + 1

        # filter by month to create the new dataframe
        df = df[df['month'] == month]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]

    return df

In [96]:
load_data('chIcago', 'January', 'Monday')

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week
121,42280,2017-01-16 14:54:38,2017-01-16 15:09:03,865,Field Museum,Millennium Park,Subscriber,Male,1992.0,1,Monday
167,77795,2017-01-23 18:50:16,2017-01-23 18:56:43,387,Indiana Ave & Roosevelt Rd,Michigan Ave & Washington St,Subscriber,Male,1990.0,1,Monday
236,42046,2017-01-16 11:29:52,2017-01-16 11:43:56,844,Pine Grove Ave & Waveland Ave,Ravenswood Ave & Montrose Ave (*),Subscriber,Female,1990.0,1,Monday
253,73287,2017-01-23 07:21:14,2017-01-23 07:32:39,685,Artesian Ave & Hubbard St,Racine Ave (May St) & Fulton St,Subscriber,Male,1972.0,1,Monday
256,3680,2017-01-02 23:40:20,2017-01-02 23:45:25,305,Lincoln Ave & Diversey Pkwy,Lincoln Ave & Belmont Ave,Subscriber,Male,1987.0,1,Monday
...,...,...,...,...,...,...,...,...,...,...,...
299515,21906,2017-01-09 16:30:36,2017-01-09 16:43:41,785,Federal St & Polk St,Calumet Ave & 21st St,Subscriber,Female,1982.0,1,Monday
299594,103888,2017-01-30 10:29:58,2017-01-30 10:34:03,245,Clark St & Schreiber Ave,Sheridan Rd & Loyola Ave,Subscriber,Male,1995.0,1,Monday
299642,77439,2017-01-23 18:07:06,2017-01-23 18:21:31,865,Dearborn St & Adams St,Michigan Ave & 18th St,Subscriber,Male,1985.0,1,Monday
299854,102458,2017-01-30 06:00:33,2017-01-30 06:06:29,356,Orleans St & Ohio St,Canal St & Madison St,Subscriber,Male,1993.0,1,Monday
299878,106323,2017-01-30 19:08:04,2017-01-30 19:11:47,223,Ashland Ave & Division St,Damen Ave & Division St,Subscriber,Female,1983.0,1,Monday

In [97]:
def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    
    
    # get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    while True:
        cities= [chicago, New York, washington].lower()
        result = input('select a city to view bike data (Chicago, New York, Washington): ')
        
    # get user input for filter type (month, day, both, none)
    result = input('How would you like to filter the data (Month, Day, Both, None): ')

    # get user input for month (all, january, february, ... , june)
    result = input('which month (january, february, march, april, may, june): ')

    # get user input for day of week (all, monday, tuesday, ... sunday)
    result = input('which day of the week (Su, Mo, Tu, We, Th, Fr, Sa): ')


    print('-'*40)
    return city, month, day

NameError: name 'chicago' is not defined

In [3]:
 CITY = input('select a city to view bike data (Chicago, New York, Washington): ')

select a city to view bike data (Chicago, New York, Washington): CHICAGO

In [ ]:
result = input('how would you like to filter the data (Month, Day, Both, None): ')

In [4]:
CITY

'CHICAGO'

In [10]:
  result = input('select a city to view bike data (Chicago, New York, Washington): ')

select a city to view bike data (Chicago, New York, Washington: chac

In [11]:
result

'chac'

In [16]:
result = input('which month (january, february, march, april, may, june): ')

which month (january, february, march, april, may, june): may

In [17]:
result

'may'

In [12]:
   result = input('which day of the week (Su, Mo, Tu, We, Th, Fr, Sa): ')

which day of the week (Su, Mo, Tu, We, Th, Fr, Sa): Su

In [13]:
result

'Su'

In [25]:
def get_filters():

    while True:
        city = input('Would you like to see the data for Chicago, New York or Washington? \n> ').lower()

        # only breaks when users type in right city name

        if city in CITIES:
            break

            else:

            print("oops, wrong city name")

        filter_type = ''

    while True:

        # input from user determines whether application will filter by month, day, both or neither

        filter_type = input('Would you like to filter by month, day, both or not at all? Type "none" for no time filter \n> ').lower()

        if filter_type in FILTERS:
            break

            else:

            print("oops, that doesn't look right")

SyntaxError: invalid syntax (<ipython-input-25-7b0e0f0b3e3a>, line 11)

In [19]:
   # TO DO: get user input for month (all, january, february, ... , june)
while True:
        month = input('Please enter a month that\'s in the first half of the year or enter all: ')
        month = month.lower()
        if month in ['january', 'february', 'march', 'april', 'may', 'june', 'all']:              
            print('Thank you for your input.')
            break
        else:
            print('Hmmm, looks like you entered an invalid month. Please try again.')

Please enter a month that's in the first half of the year or enter all: DECEMBER
Hmmm, looks like you entered an invalid month. Please try again.
Please enter a month that's in the first half of the year or enter all: APRL
Hmmm, looks like you entered an invalid month. Please try again.
Please enter a month that's in the first half of the year or enter all: APRIL
Thank you for your input.

In [10]:
x = ""
while x != "xx":
    x += "xx"
    print(x)

xx

In [14]:
for i in [0,2,3]:
    if i%2==0:
        print("even")
    elif i == 0:
        print("zero")
    else:
        print("odd")

even
even
odd

In [16]:
0%2

0

In [17]:
def f(u, y=[]):
    for i in range(u):
        y.append(i*i)
    print(y)

In [21]:
f(6)
f(6,[4,1,5])
f(6)

[0, 1, 4, 9, 16, 25, 0, 1, 4, 9, 16, 25, 0, 1, 4, 9, 16, 25, 0, 1, 4, 9, 16, 25, 0, 1, 4, 9, 16, 25]
[4, 1, 5, 0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 0, 1, 4, 9, 16, 25, 0, 1, 4, 9, 16, 25, 0, 1, 4, 9, 16, 25, 0, 1, 4, 9, 16, 25, 0, 1, 4, 9, 16, 25]

In [22]:
new = ""
for i in "Hello":
    if i != "l":
        new += i
print(new)

Heo

In [23]:
for a in range(2,5):
    print(a+(a-1))

3
5
7

In [31]:
def myfunction():
    y = 5
myfunction(y)
print(y)

NameError: name 'y' is not defined

In [35]:
for i in range(1,100):
    list(i))

SyntaxError: invalid syntax (<ipython-input-35-34c1bc9b4faa>, line 2)

In [41]:
print('hell \t o')

hell 	 o

In [43]:

's'+""

's'

In [44]:
's'[0]+'s'[1:]

's'

In [46]:
('a'+'s')[1:]

's'

In [47]:
's'[0]

's'